@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'atropos/scss';

:root {
  --foreground-rgb: 0, 0, 0;
  //--background-start-rgb: 214, 219, 220;
  --background-start-rgb: 6, 64, 110, 1;
  //--background-end-rgb: 255, 255, 255;
  --background-end-rgb: 10, 85, 142, 1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.my-atropos {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 6rem 8rem;
}

.wapper {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: rgb(6, 64, 110, 1);
}
