@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'atropos/scss';
@import 'utils/atropox.scss';
@import 'utils/navbar.scss';
@import 'utils/fonts.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Khojki&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  //--background-start-rgb: 214, 219, 220;
  --background-start-rgb: 6, 64, 110, 1;
  //--background-end-rgb: 255, 255, 255;
  --background-end-rgb: 10, 85, 142, 1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Inter', sans-serif;
}

