.my-atropos {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 6rem 6rem;
    /* background-image: url(/public/assets/img/Figura-09.svg); */
}
  
.wapper {
    width: 100%;
    height: 100%;
    position: relative;
    //background-image: url('../../public/assets/img/5205444-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background: #177078;
    background: linear-gradient(180deg, #177078 0%, #1662a0 49%);
}

.content-title {
    position: relative;
    z-index: 20;
    //max-width: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem 1rem 3rem;
    & .title {
        font-size: 100px;
        color: white;
        font-weight: bold;
        text-shadow: 7px 6px 16px #00000099;
    }
}


.figure {
    position: absolute !important;
    &.one {
        width: 100%;
        height: auto;
        max-width: calc(100vw - 65%);
        left: -50px;
        top: -30px;
        padding-right: 40px;
        padding-bottom: 20px;
        z-index: 2;
    }
    &.two {
        width: 100%;
        height: auto;
        max-width: calc(100vw - 98%);
        left: -20px;
        top: -30px;
        padding-right: 20px;
        z-index: 3;
    }
    &.three {
        width: 100%;
        height: auto;
        max-width: calc(100vw - 10%);
        right: -60px;
        top: -22px;
        padding-left: 40px;
        padding-bottom: 20px;
        z-index: 1;
    }
    &.four {
        width: 100%;
        height: auto;
        max-width: calc(100vw - 55%);
        right: -30px;
        bottom: -26px;
        padding-left: 30px;
        padding-top: 20px;
        z-index: 4;
    }
    &.five {
        width: 100%;
        height: auto;
        max-width: calc(100vw - 54%);
        left: -100px;
        bottom: -20px;
        padding-top: 20px;
        z-index: 1;
    }
    &.six {
        width: 100%;
        height: auto;
        max-width: calc(100vw - 93%);
        left: -36px;
        top: -30px;
        padding-right: 20px;
        z-index: 2;
    }
    &.seven {
        width: 100%;
        height: auto;
        max-width: calc(100vw - 81%);
        right: -24px;
        bottom: -26px;
        padding-left: 20px;
        padding-top: 20px;
        z-index: 5;
    }
    &.eight {
        width: 100%;
        height: auto;
        max-width: calc(100vw - 78%);
        right: -20px;
        bottom: -30px;
        padding-top: 20px;
        padding-left: 20px;
        z-index: 2;
    }
}


.groups {
    position: absolute !important;
    z-index: 10;
    &.one {
        left: 0;
        top: 0;
        width: 4%;
        transform: translate(118px, 113px);
    }
    &.two {
        right: 0;
        bottom: 0;
        transform: translate(80px, 90px);
        padding: 1rem;
        width: 100%;
        max-width: calc(100vw - 87%);
        z-index: 4 !important;
    }
    &.three {
        width: 23%;
        //max-width: calc(100vw - 96%);
        right: 0;
        top: 0;
        transform: translate(-50%, 50%);
        z-index: 3 !important;
    }
    &.four {
        width: 1%;
        top: 50%;
        right: 0;
        padding: 2px;
        transform: translate(-33px, -50%);
    }
    &.five {
        width: 12%;
        left: 0;
        bottom: 0;
        padding: 1px;
        transform: translate(135px, -32px);
    }
}